<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mytestprogram">

    <!-- 添加拨打电话和发送短信的权限 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 网络权限 -->
    <!-- 本地视频权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 网络视频权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTestProgram">

        <!-- 定义 Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 注册活动 -->
        <activity android:name=".InfoActivity" />
        <activity android:name=".AppsActivity" />
        <activity android:name=".VideoActivity" />
        <activity android:name=".AboutMeActivity" />
    </application>
</manifest>
